.card {
    width: 500px;
    height: auto;
    border: none;
    border-radius: 12px;
    background-color: rgb(223, 202, 202);
    /* color: rgb(128, 126, 126); */
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}    
    
.card-header {
    width: 488px;
    height: auto;
    font-size: 9px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-bottom: -4px;
    margin-left: 11px;
    padding-top: 40px
}

.sortIcon:hover {
    color:rgb(223, 202, 202);
}

.postDate{
    color: rgb(92, 91, 91);

}

.postCategory{
    color: rgb(92, 91, 91);

}

.postName{
    font-size: 17px;
    margin-left: 31px;
    color: rgb(92, 91, 91);
    padding-top: 10px;
}

.TextAreaPost{
    font-size: 13px;
    align-items: center;
    white-space: initial;
    word-break: break-all;
    margin: 10px;
    color: rgb(128, 126, 126);
    padding: 0 20px;
}